
<h1> Greeting learning Spring Boot 3.0 fans !! </h1>
<p>
 In this chapter, we are learning how to 
 create a web app using Spring Boot 3.0 ... Lovely here !!
 test
</p>
<ul>
  <li>test</li>
  {{#videos}}
    <li>{{name}}</li>
  {{/videos}}
</ul>

<form action="/new-video" method="post">
  <input type="text" name="name">
  <button type="submit">Submit</button>
</form>